footer {
    text-align: center;
}
.head_h2 {
    margin-top: 20px;
}
.head_link {
    color: black;
}
.head_link:hover {
    text-decoration: none;
    color: black;
}

.link_arrow {
    color: #E9ECEF;
    font-size: 70%;
}
.main_card_header {
    color: #777777;
    font-size: 11pt;
    font-variant: small-caps;
    font-weight: 400;
    padding-left: 15px;
}
div.card_sc {
    border-radius: 15px;
    margin-bottom: 25px;
}
.card-img-sc{
    border-radius: 15px 15px 0 0;
}

.card-text {
    color: #212529 !important
}

.table_design {
    width: 520px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 1px solid #808080;
    display: block;
}

.sc-ul {
    padding-top: 0;
    padding-left: 0;
    color: #777777; !important
}
.sc-ul li {
    display: block;
}
.sc-ul i {
    margin-right: 8px;
}
.card-text-sc {
    margin-bottom: 7px;
}

.table_design {
    width: 520px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 1px solid #808080;
    display: block;
}

.all-sc-img {
    max-width: 100%;
    border-radius: 15px 15px 15px 15px; /* Для десктопа тут нужно 25px 0 0 25 px */
}

.all-sc-card-body button {
    float: right;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.all-sc-date-picker {
    margin-bottom: 10px;
}

.mt25 {
    margin-top: 25px;
}

.card-title{
    color: #212529; !important
}

.card-title a:hover {
    text-decoration: none;
}

.tdn {
    text-decoration: none;
}

.tdn:hover {
    text-decoration: none;
}

.card-disabled {
    opacity: 0.50;
}


.collection-img img {
    object-fit: cover;
    width: 100%; /*  Не знаю, как сделать нормально */
}

.collection-btn {
    position: absolute;
    right: 30px;
    bottom: 15px;
}