footer {
    text-align: center;
}
.head_h2 {
    margin-top: 20px;
}
.head_link {
    color: black;
}
.link_arrow {
    color: #E9ECEF;
    font-size: 70%;
}
.main_card_header {
    color: #777777;
    font-size: 11pt;
    font-variant: small-caps;
    font-weight: 400;
    padding-left: 15px;
}
div.card_sc {
    border-radius: 25px;
    margin-bottom: 25px;
}
img.card_sc {
    border-radius: 25px 25px 0 0;
}

.sc-ul {
    padding-top: 0;
    padding-left: 0;
    color: #777777;
}
.sc-ul li {
    display: block;
}
.sc-ul i {
    margin-right: 8px;
}
.card-text-sc {
    margin-bottom: 7px;

.table_design {
    width: 520px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 1px solid #808080;
    display: block;
}