{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1 style="margin-top: 30%;">Вы не должны были сюда попасть</h1>
            <p>Пожалуйста, расскажите нам, как так получилось</p>
            <a href="https://vk.me/wordy_eng" class="btn btn-primary" style="background-color: #274E76; border-color: #274E76; color: white; margin-top: 10px">Рассказать</a>
        </div>
        <div class="col-sm-8"><img src="../static/images/404.svg" width="125%" style="margin-left: -15%;"></div>
    </div>
</div>

{% endblock %}