{% extends "base.html" %}

{% block content %}
<h1>Добавить слово в {{ collection_name }}</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {{message}}
    <ul class="list-inline">
        <li class="list-inline-item"><p>{{ form.submit(type="submit", class="btn btn-primary") }}</p></li>
        <li class="list-inline-item"><a class="btn btn-outline-primary" href="../../">Закончить</a></li>
    </ul>
</form>
{% endblock %}