<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <meta name="description" content="Wordy — разговорные клубы английского и заучивание слов в боте.">
    <meta name="theme-color" content="#4e6891"/>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/svg" href="/static/images/favicon.svg" />
    <link rel="apple-touch-icon" href="/static/images/icons/icon-512x512.png">
    <title>{{title}}</title>
    <meta property="og:title" content="Wordy">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://{{ request.headers.get('host') }}/static/images/snippet.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="537">
    <meta property="og:image:height" content="240">
    <meta property="og:description" content="Разговорные клубы английского.">
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }}
</head>
<body>
    <nav class="navbar-main navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-fluid container">
          <a class="navbar-brand" href="//{{ request.headers.get('host') }}/"><img src="{{url_for('static', filename='images/logo-navbar-beta.svg')}}" alt="Wordy" height="35" data-bs-toggle="tooltip" title="Бета версия. Если заметили какие-то проблемы — пишите нам в ВК"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" aria-current="page" href="//{{ request.headers.get('host') }}/">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="//{{ request.headers.get('host') }}/clubs">Разговорные клубы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="https://vk.me/wordy_eng">Учить слова</a>
              </li>
                {% if current_user.is_admin %}
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="//{{ request.headers.get('host') }}/admin"><i class="bi bi-key"></i> Админ-панель</a>
              </li>
                {% endif %}
            </ul>
            <form class="d-flex ml-auto search_form" action="//{{ request.headers.get('host') }}/word" method="get" id="send-message" autocomplete="off">
              <input name="word" class="form-control me-2" type="text" required placeholder="Поиск слова" aria-label="Search" style="float: right;">
              <button class="" type="submit"><i class="bi bi-search"></i></button>
            </form>
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" style="text-indent: 15px;">{{ current_user.name }}</a>
              <a href="/logout"> <i class="bi bi-door-closed-fill"></i></a>
{% else %}
    <a class="d-flex login-btn tdn" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">
              <i class="bi bi-box-arrow-in-right"></i>
            </a>
{% endif %}
          </div>
        </div>
      </nav>
<main role="main" class="container">
{% block content %}{% endblock %}
</main>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">β Wordy — разговорные клубы английского</span>
      </div>
    </footer>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(77732626, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/77732626" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <script src="//{{ request.headers.get('host') }}/service-worker.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Войти или зарегистрироваться</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Для записи на разговорные клубы и заучивания слов в боте Вам нужно войти с помощью вашего аккаунта VK. <br> Мы будем использовать Ваш список друзей, чтобы рекомендовать самые интересные клубы.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-vk" onclick="location.href='//{{request.headers.get('host')}}/auth'">
 <svg style="width: 1.3rem;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="vk" class="svg-inline--fa fa-vk fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z"></path></svg> Войти или зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>