{% extends "base.html" %}

{% block content %}
<h2 class="head_h2">Разговорные клубы</h2>

<ul class="nav nav-pills all-sc-date-picker">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Сегодня</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Завтра</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Послезавтра</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">11 августа</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">12 августа</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Позже</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">13 авгутса</a></li>
          <li><a class="dropdown-item" href="#">14 августа</a></li>
          <li><a class="dropdown-item" href="#">15 августа</a></li>
        </ul>
      </li>
  </ul>

<div class="card mb-3 card_sc mt25" >
    <div class="row g-0">
      <div class="col-md-4">
        <img class="all-sc-img" src="../static/images/tmp.jpg"  alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body all-sc-card-body">
          <h5 class="card-title">Название карточки</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
          <button type="button" class="btn btn-outline-primary">Записаться</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 card_sc mt25">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="all-sc-img" src="../static/images/tmp.jpg"  alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body all-sc-card-body">
          <h5 class="card-title">Название карточки</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
          <button type="button" class="btn btn-outline-primary">Записаться</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}