{% extends "base.html" %}

{% block content %}

<div>
    <div class='image' style="background-image:url(../static/images/hor.jpg);"></div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="head_h2">Тема разговорного клуба №2</h1>

            <h3 class="head_h2">Описание</h3>
            <p class="description">Leo diam vestibulum aenean vel faucibus non augue integer ut. A eleifend nulla elementum
                habitasse sed diam, tempus et consectetur. Dictum eget orci, turpis blandit facilisis risus. In velit nunc risus
                mi. Aliquam mattis vehicula mi volutpat tortor auctor. Cursus ac est orci, felis varius nunc, diam cras
                ultrices. Viverra ac est non varius diam donec lacus, pretium, lorem. Rhoncus, at odio arcu malesuada amet
                integer ut nibh cursus.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <ul class="sc-btn-group">
                <li><button type="button" class="btn btn-primary">Записаться</button></li>
                <li><button type="button" class="btn btn-outline-secondary"><i class="bi bi-share-fill"></i></button></li>
            </ul>
            <ul class="sc-ul">
                <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
                <li><i class="bi bi-clock"></i>30 минут</li>
                <li><i class="bi bi-people"></i>5 мест</li>
            </ul>
        </div>
    </div>

    <h3 class="head_h2">Эти слова пригодятся</h3>
    <div class="row">
        <div class="col-md">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="collection-img">
                            <img src="../static/images/true_clubimg.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Название карточки</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <table>
                                <tr>
                                    <td>
                                        <a href="" data-bs-toggle="modal" data-bs-target="#Modal1"><p class="card-text">
                                            <small class="text-muted">10 слов</small></p></a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary btn-sm collection-btn">
                                            Добавить в словарь
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="collection-img">
                            <img src="../static/images/true_clubimg.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Название карточки</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <table>
                                <tr>
                                    <td>
                                        <a href="" data-bs-toggle="modal" data-bs-target="#Modal2"><p class="card-text">
                                            <small class="text-muted">10 слов</small></p></a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary btn-sm collection-btn">
                                            Добавить в словарь
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}