{% extends "base.html" %}

{% block content %}

<nav id="navbar-example2" class="navbar navbar-light px-3">
  <a class="navbar-brand" href="http://{{ request.headers.get('host') }}/"><h2 class="head_h2">Разговорные клубы</h2></a>
  <ul class="nav nav-pills">
      {% for date in clubs %}
    <li class="nav-item">
      <a class="nav-link" href="#{{date}}">{{date}}</a>
    </li>
      {% endfor %}
  </ul>
</nav>
{% if current_user.is_anonymous %}
<a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Войдите, чтобы записаться на разговорные клубы</a>
{% endif %}

{% for date in clubs %}
<h3 id="{{date}}">{{date}}</h3>
    {% for club in clubs[date] %}
        {% if club['active'] %}
            <div class="card mb-3 card_sc mt25">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="all-sc-img" src="{{club['image']}}" alt="{{club['title']}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body all-sc-card-body">
                            <a class="tdn" href="/clubs/{{club['id']}}">
                                <h5 class="card-title">{{club['title']}}</h5>
                                <p class="card-text">{{club['description']}}</p>
                                <ul class="sc-ul">
                                    <li><i class="bi bi-calendar"></i>{{club['human_date']}}, в {{club['human_time']}}</li>
                                    <li><i class="bi bi-clock"></i>{{club['duration']}}</li>
                                    <li><i class="bi bi-people"></i>{{club['free_seats']}}</li>
                                </ul>
                            </a>
                            {% if club['booked'] %}
                                <a href="//{{club['link']}}" class="btn btn-success all-sc-card-body-a">Перейти ко встрече</a>
                            {% else %}
                                {% if club['active'] %}
                                    <a href="/clubs/{{club['id']}}?book" class="btn btn-primary all-sc-card-body-a">Записаться</a>
                                {% else %}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Войдите, чтобы записаться" disabled>
                                    Записаться
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}

            <div class="card mb-3 card_sc mt25 card-disabled">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="all-sc-img" src="{{club['image']}}" alt="{{club['title']}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body all-sc-card-body">
                            <a class="tdn" href="/clubs/{{club['id']}}">
                                <h5 class="card-title">{{club['title']}}</h5>
                                <p class="card-text">{{club['description']}}</p>
                                <ul class="sc-ul">
                                    <li><i class="bi bi-calendar"></i>{{club['human_date']}}, в {{club['human_time']}}</li>
                                    <li><i class="bi bi-clock"></i>{{club['duration']}}</li>
                                    <li><i class="bi bi-people"></i>{{club['free_seats']}}</li>
                                </ul>
                            </a>
                            {% if club['booked'] %}
                                <li><a href="club['link']" class="btn btn-success">Перейти ко встрече</a></li>
                            {% else %}
                                {% if club['active'] %}
                                    <li><a href="?book" class="btn btn-primary">Записаться</a></li>
                                {% else %}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Войдите, чтобы записаться" disabled>
                                    Записаться
                                    </button>
                                {% endif %}
                            {% endif %}
                            <button type="button" class="btn btn-outline-primary" disabled>Записаться</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}

{% if current_user.is_admin %}
<a href="../new_club"><i class="bi bi-plus"></i> Новый разговорный клуб</a>
{% endif %}

{% endblock %}