<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<h2 class="head_h2">Описание</h2>
<p class="text">Leo diam vestibulum aenean vel faucibus non augue integer ut. A eleifend nulla elementum habitasse sed diam, tempus et consectetur. Dictum eget orci, turpis blandit facilisis risus. In velit nunc risus mi. Aliquam mattis vehicula mi volutpat tortor auctor. Cursus ac est orci, felis varius nunc, diam cras ultrices. Viverra ac est non varius diam donec lacus, pretium, lorem. Rhoncus, at odio arcu malesuada amet integer ut nibh cursus.</p>
<div>
    <p class="rect_card"></p>
    <p class="name_card">Города</p>
    <img class="image_card" src="/static/img/city.jpg" alt="...">
    <p class="text_card">This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.</p>
    <p class="words_card">32 слова</p>
    <button type="button" class="button_card">Добавить в словарь</button>
</div>
<p>©2021. Unnamed</p>
</body>