{% extends "base.html" %}

{% block content %}
<h1>Добавить подборку в разговорный клуб {{ club_name }}</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.id.label }}<br>
        {{ form.id(class="form-control") }}<br>
        {% for error in form.id.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {{message}}
    <ul class="list-inline">
        <li class="list-inline-item"><p>{{ form.submit(type="submit", class="btn btn-primary") }}</p></li>
        <li class="list-inline-item"><a class="btn btn-outline-primary" href="../../new_collection" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Создать новую подборку</a></li>
    </ul>
</form>
{% endblock %}