{% extends "base.html" %}

{% block content %}
<h2 class="head_h2"><a href="/clubs" class="head_link">Разговорные клубы <span class="link_arrow">→</span></a></h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="main_card_header">
        ВЫ ЗАПИСАНЫ
      </div>
      <div class="card card_sc">
        <img src="../static/images/tmp.jpg" class="card-img-top card-img-sc" alt="...">
        <div class="card-body">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text card-text-sc">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
          <button type="button" class="btn btn-primary">Перейти к встрече</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="main_card_header">
        ЧЕРЕЗ 5 МИНУТ
      </div>
      <div class="card card_sc">
        <img src="../static/images/tmp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text card-text-sc">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
          <button type="button" class="btn btn-outline-primary">Записаться</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="main_card_header">
        ОСТАЛОCЬ ОДНО МЕСТО
      </div>
      <div class="card card_sc">
        <img src="../static/images/tmp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text card-text-sc">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
          <button type="button" class="btn btn-outline-primary">Записаться</button>
        </div>
      </div>
    </div>

</div>

<h2 class="head_h2">Подборки слов</h2>
<table class="table_design">
    <tr>
        <td width="1"></td>
        <td rowspan="3"><img src="..." width="200" height="230" alt="..."></td>
        <td width="15"></td>
        <td width="200" colspan="4"><h4>Название</h4>This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
        </td>
    </tr>
    <tr>
        <td height="25"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><font color="grey">32 слова</font></td>
        <td width="50"></td>
        <td>
            <button type="button" class="btn btn-outline-primary">Добавить в словарь</button>
        </td>
        <td></td>
    </tr>
</table>
{% endblock %}