{% extends "base.html" %}

{% block content %}
<h2 class="head_h2"><a href="/clubs" class="head_link">Разговорные клубы <span class="link_arrow">→</span></a></h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="main_card_header">
      ВЫ ЗАПИСАНЫ
    </div>
    <div class="card card_sc">
      <img src="../static/images/tmp.jpg" class="card-img-top card-img-sc" alt="...">
      <div class="card-body">
        <a class="tdn" href="/clubs/0">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text card-text-sc">This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
        </a>
        <button type="button" class="btn btn-primary">Перейти к встрече</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="main_card_header">
      ЧЕРЕЗ 5 МИНУТ
    </div>
    <div class="card card_sc">
      <img src="../static/images/tmp.jpg" class="card-img-top card-img-sc" alt="...">
      <div class="card-body">
        <a class="tdn" href="/clubs/0">
          <h5 class="card-title">Работай пж</h5>
          <p class="card-text card-text-sc">This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
        </a>
        <button type="button" class="btn btn-outline-primary">Записаться</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="main_card_header">
      ОСТАЛОCЬ ОДНО МЕСТО
    </div>
    <div class="card card_sc">
      <img src="../static/images/tmp.jpg" class="card-img-top card-img-sc" alt="...">
      <div class="card-body">
        <a class="tdn" href="/clubs/0">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text card-text-sc">This is a longer card with supporting text below as a natural lead-in to
            additional content.</p>
          <ul class="sc-ul">
            <li><i class="bi bi-calendar"></i>8 августа, в 12:00</li>
            <li><i class="bi bi-clock"></i>30 минут</li>
            <li><i class="bi bi-people"></i>5 мест</li>
          </ul>
        </a>
        <button type="button" class="btn btn-outline-primary">Записаться</button>
      </div>
    </div>
  </div>

</div>

<h2 class="head_h2">Подборки слов</h2>

<div class="container">
  <div class="row">
    {% for collection in collections %}
            <div class="col-md">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="collection-img">
                                <img src="{{collection['image']}}" alt="{{collection['name']}}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{collection['name']}}</h5>
                                <p class="card-text">{{collection['description']}}</p>
                                <table>
                                    <tr>
                                        <td>
                                            <a href="" data-bs-toggle="modal" data-bs-target="#Modal{{loop.index}}"><p class="card-text">
                                                <small class="text-muted">{{collection['words_len']}}</small></p></a>
                                        </td>
                                        <td>
                                            {% if collection['added'] %}
                                                <a href="collection/{{collection['id']}}/delete" class="btn btn-outline-primary btn-sm collection-btn"><i class="bi bi-trash"></i> Удалить из словаря</a>
                                            {% else %}
                                                <a href="collection/{{collection['id']}}" class="btn btn-outline-primary btn-sm collection-btn">Добавить в словарь</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
  </div>
</div>
{% if current_user.is_admin %}
<a href="../new_collection"><i class="bi bi-plus"></i> Новая подборка</a>
{% endif %}



{% for collection in collections %}
    <!-- Modal -->
    <div class="modal fade" id="Modal{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{collection['name']}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></button>
          </div>
          <div class="modal-body">
            <ul>
                {% for word in collection['words'] %}
                    <li><a href="/word?word={{word}}">{{word}}</a></li>
                {% endfor %}
                {% if current_user.is_admin %}
                <a href="../add_word/{{collection['id']}}"><i class="bi bi-plus"></i>Добавить слово</a>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endfor %}


{% endblock %}