{% extends "base.html" %}

{% block content %}
<h2 class="head_h2"><a href="/clubs" class="head_link">Разговорные клубы <span class="link_arrow">→</span></a></h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="main_card_header">
        ВЫ ЗАПИСАНЫ
      </div>
      <div class="card card_sc">
        <img src="..." class="card-img-top card-img-sc" alt="...">
        <div class="card-body">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">8 августа, в 12:00</li>
            <li class="list-group-item">30 минут</li>
            <li class="list-group-item">5 мест</li>
          </ul>
          <button type="button" class="btn btn-primary">Перейти к встрече</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="main_card_header">
        ЧЕРЕЗ 5 МИНУТ
      </div>
      <div class="card card_sc">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-outline-primary">Записаться</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="main_card_header">
        ОСТАЛОCЬ ОДНО МЕСТО
      </div>
      <div class="card card_sc">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Делаем нормально сейчас</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <button type="button" class="btn btn-outline-primary">Записаться</button>
        </div>
      </div>
    </div>

</div>
{% endblock %}