{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 style="margin-top: 30%;">Кажется, у Вас нет интернета</h1>
            <p>Если это не так, напишите нам в поддержку</p>
            <a href="https://vk.me/wordy_eng" class="btn btn-primary" style="background-color: #274E76; border-color: #274E76; color: white; margin-top: 10px">Поддержка</a>
        </div>
        <div class="col-sm-6"><img src="../static/images/offline.svg" width="70%" style="margin-top: 25px;"></div>
    </div>
</div>

{% endblock %}