{% extends "base.html" %}

{% block content %}

<div>
    <div class='image' style="background-image:url(../static/images/hor.jpg);"></div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="head_h2"> {{emodji}}{{original}}<span class="light_text"> — {{translate_word}}</span></h1>

            <h4 class="light_text">{{trancription}}</h4>
            <p class="description">(of the sun or another source of light) give out a bright light.<br><br>
                synonyms: emit light, give off light, beam, radiate, gleam, glow, glint, glimmer, sparkle, twinkle,
                flicker, glitter</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 sc-btn-group">
            <button type="button" class="btn btn-primary">Добавить в словарь</button>
        </div>
    </div>

</div>
{% endblock %}