{% extends "base.html" %}

{% block content %}

<div>
    <div class='image' style="background-image:url(../static/images/hor.jpg);"></div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="head_h2">Слово</h1>

            <h3 class="head_h2">Значение</h3>
            <p class="description">Leo diam vestibulum aenean vel faucibus non augue integer ut. A eleifend nulla elementum
                habitasse sed diam, tempus et consectetur. Dictum eget orci, turpis blandit facilisis risus. In velit nunc risus
                mi. Aliquam mattis vehicula mi volutpat tortor auctor. Cursus ac est orci, felis varius nunc, diam cras
                ultrices. Viverra ac est non varius diam donec lacus, pretium, lorem. Rhoncus, at odio arcu malesuada amet
                integer ut nibh cursus.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 sc-btn-group">
            <button type="button" class="btn btn-primary">Добавить в словарь</button>
        </div>
    </div>

</div>
{% endblock %}