{% extends "base.html" %}

{% block content %}

<div>
    <div class='image' style="background-image:url({{image}});"></div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="head_h2"> {{emodji}}{{original}}<span class="light_text"> — {{translate_word}}</span></h1>

            <h4 class="light_text">{{trancription}}</h4>
            <p class="description"><b>{{definition}}</b><br><br>
                Похожие слова: {{synonyms}}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 sc-btn-group">
            {% if active %}
                {% if added %}
                <a href="https://vk.me/wordy_eng" class="btn btn-outline-primary"><i class="bi bi-check"></i> Добавлено в словарь</a><br>
                <a href="?word={{original.lower()}}&del"><i class="bi bi-trash"></i>Удалить из словаря</a>
                {% else %}
                <a href="?word={{original.lower()}}&add" class="btn btn-primary">Добавить в словарь</a>
                {% endif %}
            {% else %}
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Войдите, чтобы добавить слово в словарь</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}